.artice_label {
    /*width: 11%;*/
    height: 25px;
    float: left;
    background: #d9534f;
    position: relative;
    line-height: 25px;
    text-align: center;
    top: 3px;
    color: #fff;
    padding: 0px 10px;
}

.artice_label:before {
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 8px;
    position: absolute;
    border-top: 4px solid transparent;
    border-left: 9px solid #d9534f;
    border-bottom: 6px solid transparent;
}
