<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulj.admin.web.mapper.MenuMapper">
	
	<sql id="menuColumns">
		id menuId,
		name menuName,
		url menuUrl,
		is_parent isParent,
		parent_id parentId,
		sort menuOrder,
		icon menuIcon,
		create_time createTime
	</sql>
	
	<!-- 获取一级菜单 -->
	<select id="getRootMenuLst" resultType="com.gulj.admin.web.entity.Menu">
		SELECT <include refid="menuColumns"/> from sys_menu where parent_id = 1
	</select>

	
	<select id="getUserRootMenuLst" parameterType="int" resultType="com.gulj.admin.web.entity.Menu">
		SELECT
			t3.id menuId,t3.name menuName,t3.url menuUrl,t3.parent_id parentId,t3.sort menuOrder,t3.icon menuIcon,t3.create_time createTime
		FROM
			sys_user t1
		LEFT JOIN sys_role_menu t2 ON t1.role_id = t2.role_id
		LEFT JOIN sys_menu t3 ON t3.id = t2.menu_id
		WHERE
			t1.sid = 1
		AND t3.parent_id = #{0}
		ORDER BY t3.sort 
	</select>

	<!-- 获取用户一级菜单下左侧菜单的父菜单 -->
	<select id="querySideBarParentMenu" parameterType="int" resultType="com.gulj.admin.web.entity.Menu">
		SELECT <include refid="menuColumns"/> from sys_menu where parent_id = #{0}
	</select>
	
	<!-- 获取用户一级菜单下左侧菜单的父菜单的子菜单-->
	<select id="querySideBarChildMenu" parameterType="int" resultType="com.gulj.admin.web.entity.Menu">
			SELECT <include refid="menuColumns"/> from sys_menu where parent_id = #{0}
	</select>

	 <!-- 根据角色id查询菜单id -->
     <select id="queryMenuIdByRoleId" parameterType="string" resultType="string">
    	select menu_id from sys_role_menu where role_id = #{roleId}
     </select>



</mapper>
